<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Drip Drop</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/memoryMatch.css">
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <div class="logo">
        <a href="/">
          <h1>Drip Drop</h1>
        </a>
      </div>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <% if(loggedIn) {%>
          <li><a href="/users/play">Play</a></li>
          <% } %>
          <li><a href="/users/story">Story</a></li>
          <li><a href="/users/about">About</a></li>
        </ul>
      </nav>
      <div class="navII">
        <% if (loggedIn) { %>
        <li><a href="/users/profile">Profile</a></li>
        <li><a href="/users/logout">Logout</a></li>
        <% } else { %>
        <li><a href="/users/login">Login</a></li>
        <li><a href="/users/signup">Sign Up</a></li>
        <% } %>
      </div>
    </header>
  </body>
</html>
