<footer>
    <div class="mainFooter">
    <div class="footerItem">
        <a href="/"><i class="ri-home-2-line"></i></a>
    </div>
    <div class="footerItem">
        <a href="/users/playgame"><i class="ri-gamepad-line"></i></a>
    </div>
    <div class="footerItem">
        <a href="#"><i class="ri-building-2-line"></i></a>
    </div>
    <div class="footerItem">
        <a href=""><i class="ri-trophy-line"></i></a>
    </div><div class="footerItem">
        <a href="/users/profile"><i class="ri-profile-line"></i></a>
    </div>
    </div>
</footer>

</body>
</html>
