<footer>
    <div class="mainFooter">
    <div class="footerItem">
        <a href="#">Home</a>
    </div>
    <div class="footerItem">
        <a href="#">All Games</a>
    </div>
    <div class="footerItem">
        <a href="#">Build</a>
    </div>
    <div class="footerItem">
        <a href="#">Rewards</a>
    </div><div class="footerItem">
        <a href="#">Profile</a>
    </div>
    </div>
</footer>

</body>
</html>
