<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Drip Drop</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/memoryMatch.css" />
  </head>
  <body>
    <div class="mainGameNav">
      <div class="assetsContainer">
        <div class="aquacoins whiteColor">
          <i class="whiteColor ri-vip-diamond-line"></i> Aquacoins : 1000
        </div>
        <div class="userLevel whiteColor">
          <i class="whiteColor ri-stairs-line"></i> Level : 1
        </div>
        <div class="waterEnergyLevel whiteColor">
          <i class="whiteColor ri-water-flash-line"></i> Water Energy : 10
        </div>
      </div>

      <div class="userControls">
        <a class="whiteColor" href="/">Home</a>
        <a class="whiteColor" href="/users/logout">Logout</a>
        <a class="whiteColor" href="/users/edit-profile">Settings</a>
      </div>
    </div>
  </body>
</html>
