<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Drip Drop</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <div class="mainGameNav">
      <div class="assetsContainer">
        <div class="aquacoins whiteColor">1000</div>
        <div class="userLevel whiteColor">Level 1</div>
        <div class="waterEnergyLevel whiteColor">10</div>
      </div>
      <div class="rainTimer whiteColor">Next Rain in : 01 : 22 : 23 hours</div>
      <div class="userControls">
        <a class="whiteColor" href="/">Home</a>
        <a class="whiteColor" href="/users/logout">Logout</a>
        <a class="whiteColor" href="/users/edit-profile">Settings</a>
      </div>
    </div>
  </body>
</html>
