/* playgame.css */

.playGameContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 10rem;
  background: var(--quatenaryColor);
  color: var(--blackColor);
}

.gameOptions {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 800px;
}

.playButton, .settingsButton {
  padding: 15px 25px;
  font-size: var(--navFont);
  color: var(--whiteColor);
  background-color: var(--primaryColor);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}


.playButton:hover, .settingsButton:hover {
  background-color: var(--blackColor);
  transform: scale(1.05);
}

/* Ensure GameNavbar takes full width with margin below header */
.gameNavbar {
  width: 100%;
  margin-top: 50px; /* Margin below the header */
}
