<%- include("partials/mainGameHeader.ejs") %>
<div class="container my-5">
  <h1>Your Dream Town</h1>
  <p class="intro">Build your dream town using aqua coins earned from games!</p>
  <div class="progress">
    <h2>Progress</h2>
    <p>Level: <span id="level">1</span></p>
    <p>Aqua Coins: <span id="aquaCoins">100</span></p>
  </div>
  </div>
</div>
<%- include("partials/mainGameFooter.ejs") %>
<style>
    h1{
        text-align: center;
    }
    p{
        text-align: center;
    }
    .progress h2{
        margin-top: 3rem;
        text-align: center;
    }
</style>

