<%- include("partials/header.ejs") %>
<div class="flexBetween">
  <div class="homeContainer">
    <h1>Welcome To Drip Drop</h1>
    <p>
      A real-life based storyline game to educate people towards ground water
      conservation with multiple exciting features and rewards system
    </p>

    <a href="/users/play" class="btn">Play Now</a>
  </div>

  <%- include("partials/footer.ejs") %>
</div>
