<%-include("partials/mainGameNav.ejs") %>
<div class="container my-5">
  <div class="eventsContainer">
    <div class="box">
      <a href="#"> Quiz Of The Day </a>
    </div>
    <div class="box">
      <a href="#"> Watch Ads </a>
    </div>
    <div class="box">
      <a href="#">Latest Events</a>
    </div>
  </div>
  <div class="journeyBuilder">
    <div class="content">
    <h2>Your Dream Town</h2>
    <p>
      Continue Building Your Dream Town and Upgrade Your Level To win exciting
      prizes
    </p></div>
    <div class="btn">
    <a href="#">Build Now</a>
    </div>
</div>
    <div class="gameContainer">
      <div class="mainGameContainer">
        <div class="game">
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSQSU5JCFKu_d4gAhQELn2QQg8FkTJrbYnzbpB7C28JoUoW05n68eBFQLeseb4XAKxnTEo&usqp=CAU"
            alt="game image"
          />
          <h3>Tic Tac Toe</h3>
          <div class="btns">
            <button class="btn gameStartButton">
              Start Game
              <span class="energyRequired">
                <i class="whiteColor ri-water-flash-line"></i> 10</span
              >
            </button>
          </div>
        </div>
        <div class="game">
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSQSU5JCFKu_d4gAhQELn2QQg8FkTJrbYnzbpB7C28JoUoW05n68eBFQLeseb4XAKxnTEo&usqp=CAU"
            alt="game image"
          />
          <h3>Tic Tac Toe</h3>
          <div class="btns">
            <button class="btn gameStartButton">
              Start Game
              <span class="energyRequired">
                <i class="whiteColor ri-water-flash-line"></i> 10</span
              >
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  const box = document.querySelectorAll(".box");
  box.forEach((b) => {
    b.addEventListener("click", () => {
      alert("You clicked on " + b.querySelector("a").textContent);
    });
  });
</script>
<%- include("partials/footer.ejs") %>
