<%-include("partials/mainGameNav.ejs") %>
<div class="container my-5">
  <div class="eventsContainer">
    <div class="box">
      <a href="#"> Quiz Of The Day </a>
    </div>
    <div class="box">
      <a href="#"> Watch Ads </a>
    </div>
    <div class="box">
      <a href="#">Latest Events</a>
    </div>
  </div>
  <div class="gameContainer">
    <h1 class="text-center">Game Window</h1>
    <div class="mainGame">
      <div class="assets">
        <i class="ri-home-7-line"></i>
      </div>
    </div>
  </div>
</div>

<script>
  const box = document.querySelectorAll(".box");
  box.forEach((b) => {
    b.addEventListener("click", () => {
      alert("You clicked on " + b.querySelector("a").textContent);
    });
  });
</script>
<%- include("partials/footer.ejs") %>
