<%- include("partials/header.ejs") %>
<div class="mainGameNav">
  <div class="assetsContainer">
    <div class="aquacoins">1000</div>
    <div class="userLevel">Level 1</div>
    <div class="waterEnergyLevel">10</div>
  </div>
  <div class="rainTimer">Next Rain in : 01 : 22 : 23 hours</div>
  <div class="userControls">
    <a href="/users/logout">Logout</a>
    <a href="/users/edit-profile">Settings</a>
  </div>
</div>
<div class="container my-5">
  <h1 class="text-center">Main Game Window</h1>
</div>

<%- include("partials/footer.ejs") %>
