<%-include("partials/header.ejs") %>
<div class="playContainerMain">

<div class="playContainer">
      <a href="/users/playgame">
        <button class="btn">Play Now</button>
      </a>
        <a href="/users/edit-profile">
        <button class="btn">Settings</button>
        </a>
</div>
</div> 


</div>
<% if (user) { %> <%- include("partials/mainGameFooter.ejs") %> <% } else { %>
  <%- include("partials/footer.ejs") %> <% } %>