<%-include("partials/header.ejs") %>
    <div class="mainContent">
        <div class="introContent">
            <h1>User Dashboard</h1>
        </div>
        <div class="detailsContainer">
            <div class="detail-item">
                <h3>Name : Aditya Dhiman</h3>
            </div>
            <div class="detail-item">
                <h3>Email : info@adityadhiman.in</h3>
            </div>
            <div class="detail-item">
                <h3>Level : 07</h3>
            </div>
        </div>
        <%-include("partials/footer.ejs") %>