<%-include("partials/header.ejs") %>
    <div class="mainContent">
        <div class="introContent">
            <h1>Welcome to Drip Drop</h1>
            <p>A real life based storyline game to educate people towards the ground water conservation with multiple exciting features and rewards system</p>
            <button class="getStarted">
                Get Started With Story
            </button>
        </div>
        <div class="introContentII">
            <h2>The Glory</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit optio at necessitatibus temporibus quo molestias, alias aspernatur, quae exercitationem officiis obcaecati vel maxime, provident repellat natus libero rerum voluptatum esse voluptatem
                ratione sequi! Totam, necessitatibus. Consequatur dolores ducimus eaque adipisci, delectus, perspiciatis officia maiores sint hic totam, dolorum cum doloribus ad! Dolorem eligendi aliquam facilis accusantium provident? Veritatis illo quaerat
                quisquam qui illum laborum expedita in alias tempora! Numquam iste labore earum qui. Quis velit quia dolor, exercitationem optio aut laudantium fugit delectus dolorem cum excepturi nihil cupiditate nulla omnis maiores magni ut iusto, id
                vitae eum odit. Voluptatem maxime ducimus, voluptas iure mollitia sunt accusamus sapiente cum, facere tenetur officia facilis, cumque dolores eaque magni provident? Autem illum, harum inventore possimus accusamus maiores placeat ab necessitatibus,
                facere laborum commodi ducimus cupiditate ratione enim dolorum dicta. Mollitia veritatis magni corrupti aliquid, harum cum distinctio rerum explicabo provident quo sint alias delectus vitae blanditiis fuga nemo nisi tenetur commodi aspernatur
                aliquam. Cupiditate culpa iusto suscipit cumque assumenda, aspernatur fugit omnis quasi eligendi fuga veniam consectetur accusantium temporibus debitis inventore. Modi necessitatibus nostrum repudiandae corrupti. Mollitia eaque reiciendis
                quae hic placeat facilis, rem expedita nemo maiores aut quia voluptate. Repellendus non laudantium impedit ab perspiciatis repudiandae sint dolores ratione enim veniam, minus, porro, quos voluptate itaque hic possimus distinctio! Soluta
                quaerat quidem porro a fuga in suscipit laboriosam, fugiat eaque accusantium id doloribus ratione. Veniam quod exercitationem aliquid ipsa sint error molestias pariatur architecto, sit delectus fugit minima provident voluptatem accusamus
                nobis sed a modi eveniet minus? Accusamus id magni asperiores delectus vero nulla in voluptate nobis dolores! Vero deserunt exercitationem tenetur amet voluptates et officiis blanditiis cumque harum! Alias perferendis eligendi, quae eaque
                maiores neque totam quidem quisquam iste esse! Quibusdam id rerum natus, libero repudiandae voluptatum corrupti officiis voluptatem perferendis tenetur facilis fugiat, illo qui? Adipisci libero quam vel eligendi excepturi et magni amet,
                quos unde natus tempore cupiditate expedita? Neque non laborum esse maxime vel incidunt alias repellendus beatae, error pariatur deserunt. Quia dignissimos blanditiis ipsum soluta possimus aliquam tenetur nisi quidem ratione voluptates
                architecto hic tempora explicabo doloremque, animi quaerat optio amet culpa inventore incidunt ducimus, impedit, doloribus aspernatur omnis! Ex vel sint nam maiores veritatis, quia labore dolores officiis nobis accusantium dolore eaque
                laborum nisi cumque, necessitatibus totam hic nihil velit cum, atque harum deserunt quis. Natus laboriosam ducimus nemo dolores consectetur eos deserunt, sequi eveniet! Omnis?</p>
        </div>
    </div>
    <%-include("partials/footer.ejs") %>