<%-include("partials/header.ejs") %>
    <div class="mainContent">
        <div class="introContent">
            <h1>Play Game</h1>
            <p>
                Play The Game and Build Your OWn Conserved HomeTown with your own glory.
            </p>
        </div>
    </div>
    <%-include("partials/footer.ejs") %>