<%-include("partials/header.ejs") %>
    <div class="mainContent">
        <div class="introContent">
            <h1>Know the Story</h1>
            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus unde iure molestiae labore aspernatur hic consequatur alias perferendis cupiditate quas maxime praesentium, eum laudantium cum doloribus, delectus amet omnis nesciunt ratione
                architecto eaque quisquam pariatur? Quas maiores velit libero numquam a praesentium voluptates debitis, quis maxime consequatur. Esse, modi. Sint, deleniti, blanditiis saepe excepturi iste non error odit id, cupiditate provident deserunt.
                Unde sit esse odit, temporibus nostrum, minima voluptatem perspiciatis totam maxime necessitatibus in quo eligendi cumque? Obcaecati maiores aut praesentium iste atque error eveniet, similique, incidunt doloribus debitis corrupti eos nulla
                impedit. Mollitia id in optio. In cum sequi, rem itaque dolores necessitatibus. Voluptate nobis ea hic officiis illo, vel deserunt molestias quos voluptatem sint at quo, dicta culpa, blanditiis totam repellat aspernatur minima iure ex
                suscipit qui ullam est consequuntur! Nihil qui tenetur obcaecati, consequuntur minus eligendi minima saepe vitae a quo enim perferendis quidem porro et veniam ipsam ullam quae eaque fugit officiis incidunt. Labore dolorum dolor unde suscipit
                praesentium voluptate numquam possimus molestias libero ab rem ad delectus, blanditiis quo nemo, assumenda consequatur aliquid, sint perspiciatis nihil incidunt maxime in non? Aut corporis laboriosam porro quaerat fugiat vel odit quidem
                illum doloremque, officia totam aperiam temporibus nemo, ipsum sint cumque, tenetur est quis culpa fuga. Ab temporibus illo ut facilis reiciendis id excepturi aspernatur error molestiae ratione asperiores possimus aliquid nostrum repellat,
                iusto commodi voluptate quibusdam voluptates enim? Iste pariatur, sed necessitatibus optio molestias hic iusto similique esse reiciendis animi voluptatibus sapiente officiis neque laboriosam mollitia repellendus ad! Nisi illo, quidem in
                sequi minima recusandae quis magni ea nulla quia iusto dignissimos adipisci. Culpa esse dignissimos error accusamus corporis laborum praesentium illo, magnam minus similique nemo earum consequatur optio incidunt consequuntur voluptates,
                aliquam voluptatem vero fugiat, ipsum iure cupiditate cumque quidem nihil. Ipsum saepe sequi illo consequuntur est minima sed quis possimus cupiditate! Dolorum, eligendi repudiandae asperiores corporis voluptas quasi eveniet earum, doloremque
                sed unde consectetur itaque perspiciatis voluptatem reiciendis facere eius, quam laborum molestiae reprehenderit pariatur rem culpa? Debitis quaerat eos consequuntur id voluptatum sequi magni fugit eligendi aperiam cumque aspernatur, sit
                facere tempore voluptate deleniti sint fuga neque sapiente ea explicabo. Cum et amet at cumque molestias harum officiis dolor. At inventore, quisquam earum tempore debitis culpa! Nihil, expedita! Debitis est quis eveniet officia praesentium
                dolore voluptas iste quisquam laborum assumenda error, dignissimos ipsum ratione recusandae. Dolor porro expedita aliquid eaque doloribus, commodi repellat ad sint quisquam id. Quo culpa alias, quas ratione natus voluptates perferendis
                dolor magni eum. Omnis fuga asperiores rem obcaecati dolor cumque, beatae blanditiis error ex ea voluptatem est non, sed sapiente eligendi nam excepturi sunt magnam repellendus dolore doloremque commodi veniam facere. Hic, iste! Temporibus
                a rerum dolores earum modi veniam deleniti ullam quibusdam molestiae voluptatum nemo quam dolor recusandae in rem eum veritatis magnam assumenda, perferendis odit dolorem nihil illo vero? Fuga fugit eligendi voluptatum! Reiciendis, esse
                eius quasi fugiat libero voluptatum officia autem optio laborum aut. Enim, veniam? Facere quasi expedita aperiam voluptatum, fugit ullam adipisci!</p>
        </div>
    </div>
    <%-include("partials/footer.ejs") %>